/* п«пи 29LT Azer */
@font-face {
  font-family: 'Azer';
  src: url('/fonts/29LT-Azer-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azer';
  src: url('/fonts/29LT-Azer-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Azer';
  src: url('/fonts/29LT-Azer-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
